:root {
    --white: #FFFFFF;
    --black: #000000;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}           
body { 
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

 /* whatsapp*/
.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    background-color: #25d366;
    border-radius: 50px; 
    width: 60px; 
    height: 60px; 
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out; 
}
.whatsapp-button img {
    width: 50px;
}
.whatsapp-button:hover {
    transform: scale(1.1);
}

/* boton de llamada */

.llamadas-button{
    position: fixed;
    bottom: 90px;
    right: 20px;
    z-index: 999;
   /* background-color: #25d366;*/
    border-radius: 50px; 
    width: 60px; 
    height: 60px; 
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out; 
}
.llamadas-button img {
    width: 50px;
}
.llamadas-button:hover {
    transform: scale(1.1);
}

/* pie de pagina */
footer {
    background-color: #001042!important;
    color: #fff;
    text-align: left;
    border-bottom: 0px solid var(--very-light-pink);
    padding: 40px;  
}
/* tamano del titulo */
h1,h2,h3 {
    color: #000000;
    padding-bottom: 0px;
    line-height: 1em;
    font-weight: 800;
}
h1 {
    font-size: 30px;
}
h2 {
   font-size: 26px;
}
h3 {
   font-size: 20px;
}

.logo {
    width: 150px;
    height: 90px;
    margin: -10px;
}
/* regreso a la pagina inicial */

/* tamano de las img */
.logo1,.logo2,.logo3 {
    width: 310px;
}
.logo2 {
    width: 400px;
    height: 240px;
}
.logo3 {
    height: 260px;
    padding: 20px 0;
}
/* encabezado de la pagina */

.medina {
    font-size: 30px;
}
nav {
    background-color: #d2e0e0;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 1px solid var(--very-light-pink);
}
.navbar-right ul {
    list-style: none;
    padding: 10px;
    margin: 0px;
    display: flex;
    align-items: center;
    height: 60px;          
}
.navbar-right {
    display: flex; 
}
.navbar-right ul li a { 
    text-decoration: none;
   /* color: var(--very-light-pink); */
    border: 0px solid var(--white);
    padding: 8px;
    border-radius: 8px;
}
.navbar-right ul li a:hover { 
    border: 0px solid var(--hospital-green);
    color: var(--hospital-green);
}
.inactive {
    display: none;
}
.mobile-menu {
    position: absolute;
    top: 70px;
    padding: 24px;
    right: 0px;
    background-color: #FFFFFF;
}
.mobile-menu a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-bottom: 24px;
}
.mobile-menu ul {
    padding: 0;
    margin: 24px 0 0;
    list-style: none;  
}
.mobile-menu ul:nth-child(1) {
    border-bottom: 0px solid var(--very-light-pink); 
}
.mobile-menu ul li {
    margin-bottom: 24px; 
}

/* samsung lg */
.inactive-2 {
    display: none;
}
.samsung-lg {
    position: absolute;
    top: 70px;
    padding: 28px;
    right: 0px;
    background-color: #ffff;
}
.samsung-lg a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-bottom: 28px;
}
.samsung-lg ul {
    padding: 0;
    margin: 24px 0 0;
    list-style: none;  
}
.samsung-lg ul:nth-child(1) {
    border-bottom: 0px solid var(--very-light-pink); 
}
.samsung-lg ul li {
    margin-bottom: 24px; 
}
.marcas, .marcas2 {
    cursor: pointer;
}

/*menu hamburguesa*/

.bars__menu {
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: none;
    margin: 20px;
}
.bars__menu span {
    display: block;
    width: 100%;
    height: 2px;
    background: black;
    margin-top: 6px;
    transform-origin: 0px 100%;
    transition: all 600ms;
}
.activeline1__bars_menu {
    transform: rotate(45deg) translate(-2px, 1px);
}
.activeline2__bars_menu {
    opacity: 0;
    margin-left: -30px;
}
.activeline3__bars_menu {
    transform: rotate(-45deg) translate(-4px, 2px);
}

/* logos*/
.logos {
    background: #e6eeee;
    display: flex;
    justify-content: center;
    align-items: center; 
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    gap: 20px;
    place-content: center; 
}
.logo-samsung {
    padding: 0 30px;
    border: 0px solid white;
    border-radius: 8px;
}
.logo-lg {
    border: 0px solid white;
    padding: 0 70px;
    border-radius: 8px;
}
.logo-panasonic {
    padding: 0 30px;
    border: 0px solid white;
    border-radius: 8px;
}
.logo-sony {
    border: 0px solid white;
    border-radius: 8px;
    margin: 0 40px;
}
.untitled-total {
    display: flex;
    background-color: #c5caca;
}

.untitled {
    border: 0px solid #ddd;
    padding: 50px;
    text-align: justify;
}
.untitled2 {
    border: 0px solid #ddd;
    padding: 50px;
    text-align: justify;  
}
.untitled3 {
    border: 0px solid #ddd;
    padding: 50px;
    text-align: justify;  
} 
.testimonial {
    width: 250px;
    height: 340px;
    background-color: #fff;
    border: 1px solid #ddd;
   /*border-radius: 10px;*/
    margin: 16px auto;
    padding: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    display: grid; 
    position: 0px;       
}
.comillas {
    margin: -50px 0 30px;
}
.testimonial-orden {
    display: flex;
    padding: 12px 50px;
}
.mantenimiento {
    text-align: center;
    background-color: #3877a1e7!important;
    color: #fff;
    border-bottom: 0px solid var(--very-light-pink); 
    font-size: 26px;
    padding: 40px;
    font-weight: bold;
}
.resenas {
    text-align: center;
    background-color: #1d49ce!important;
    color: #fff;
    text-align: center;
    border-bottom: 0px solid var(--very-light-pink); 
    font-size: 22px;
    padding: 40px;
    font-weight: bold;
}
.fotos {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto 20px;
    background-size: cover;
}
.name {
    font-size: 17px;
    font-weight: bold;
    text-align: left;
}
.ss {
    background-color: #001659!important;
    color: #fff;
    border-bottom: 0px solid var(--very-light-pink);
    padding: 60px;
    text-align: justify;
    font-size: 17px;  
}
.ss1 {
    display: flex;
}
.sobre-nosotros {
    border: 0px solid #ddd;
    margin: 20px;
    text-align: justify; 
}
.experiencia {
    border: 0px solid #ddd;
    margin: 20px;
    text-align: justify; 
}
.contactos {
    vertical-align: baseline;
    background: 0 0;
    text-align: center;
} 
.contactos1 {
    text-align: center;
    color: #FFFFFF;
}       
.numero-contacto {
    text-decoration: none;
} 

/* @Media */

@media (max-width: 500px){

.bars__menu { 
    display: block;}
.navbar-right ul {
    display: none;}

}
@media (max-width: 900px) 
{

.logo1,.logo3, .logo2 {
    width: 100%;
}
.testimonial {
    width: 200px;
}
.logos{
    grid-template-columns: repeat(auto-fill, 240px);
    gap: 20px;
}
h3 {
    text-align: center;
    font-size: 22px;
}
.testimonial-orden {
    display: grid;
}
.ss1 { 
    display: grid;}
.ss { 
    padding: 10px; }
.contactos{ 
    text-align: center;}

.mantenimiento {
    font-size: 17px;
}
.untitled-total {
    display: grid;
}
}

@media (max-width: 1200px) {
.untitled-total {
    display: grid;
}

}  

/*SCROLL*/

.body2 {
    display: grid;
    min-block-size: 10vh;
    place-content: center;
    background-color: #f8f5f5; 
}

.scroller {
    max-width: 400px;
}
  
.scroller__inner {
    padding-block: 0px;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    
}
  
.scroller[data-animated="true"] {
    
    overflow: hidden;
    -webkit-mask: linear-gradient(
      90deg,
      transparent,
      white 20%,
      white 80%,
      transparent
    );
    mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}
  
.scroller[data-animated="true"] .scroller__inner {
    width: max-content;
    flex-wrap: nowrap;
    animation: scroll var(--_animation-duration, 10s)
      var(--_animation-direction, forwards) linear infinite;
}
  
.scroller[data-direction="right"] {
    --_animation-direction: reverse;
}
 
.scroller[data-speed="fast"] {
    --_animation-duration: 12s;
}
  
@keyframes scroll {
    to {
    transform: translate(calc(-50% - 0.5rem));
    
    }
}
  
  /* general styles */
  
   :root {
    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-primary-100: hsl(205, 15%, 58%);
    --clr-primary-400: hsl(215, 25%, 27%);
    --clr-primary-800: hsl(217, 33%, 17%);
    --clr-primary-900: hsl(218, 33%, 9%);
} 
  
  